.item{
  display:flex;
  justify-content: space-between;
  background: #efefef;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;

  input[type="text"]{
    padding: 0.2rem 0.7rem;
    border-radius: 2px;
    /* border: 1px solid rgb(158, 158, 158); */
    border: none;
    background:none;
    color:rgb(35, 31, 27);
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    &:focus{
      outline: 2px solid orange;
    }
  }
  input[type="checkbox"]{
    zoom: 1.7
  }

  .delete-item{
    width: 24px;
    height: 24px;
    background-color: #e5553f;
    color:white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover{
      transform:scale(1.1);
    }
  }
}

.done {
  opacity: 0.2;
  pointer-events: none;
}