
/* token - Mode 1 */
:root {
  --primary: rgba(54, 124, 255, 1);
  --secondary: rgba(255, 160, 51, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --radius-s: 10px;
  --radius-m: 20px;
}




body {
  background-color: #ddd;
}